.carre {
	height: 100px;
	width: 100px;
}

#contenant {
	background-color: black;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 100px;
	left: 100px;	
}

#carre-1 {
	background-color: blue;
	position: absolute;
	top: 0px;
	left: 0px;
}

#carre-2 {
	background-color: green;
	position: absolute;
	top: 0px;
	right: 0px;
}

#carre-3 {
	background-color: red;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#carre-4 {
	background-color: yellow;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
