.carre {
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 640px) {
	.carre {
		background-color: blue;
	}
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
	.carre {
		background-color: pink;
	}
}

@media screen and (min-width: 1024px) {
	.carre {
		background-color: red;
	}
}
